body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

#background {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

#spotify-player {
  position: fixed;
  z-index: 1;
  left: 2%;
  bottom: 15%;
}

#music-player {
  position: fixed;
  z-index: 1;
  left: 2%;
  bottom: 3%;
}

#timer {
  position: fixed;
  z-index: 1;
  top: 2%;
  left: 2%;
  width: 10%;
  height: 10%;
  text-align: center;
  font-size: 1.5em;
  margin: auto;
  border-radius: 100px;
}

#random-background-btn {
  position: fixed;
  z-index: 1;
  left: 15%;
  bottom: 5%;
  padding: 10px 24px;
  font-weight: bold;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #a9a9a9;
}

#timer-container {
  text-align: center;
  margin: 0 auto;
}

#button-container {
  position: fixed;
  z-index: 1;
  top: 10%;
  left: 2%;
  font-size: 1em;
}


